<% include ./partials/header.ejs %>

<div class="w-full min-h-screen bg-zinc-800 px-10 py-8">
    <div class="cards flex flex-wrap gap-10 shrink-0">
        <%posts.forEach(function(elem){ %>
            <div class="card w-48 h-fit text-white overflow-hidden relative whitespace-nowrap">
                <div class="card w-full h-full bg-sky-700 rounded-lg overflow-hidden leading-3">
                    <img class="w-full h-full object-cover" src="/images/uploads/<%= elem.image %>" alt="">
                </div>
                <h5><%= elem.title%></h5>
                <h6 class="text-xs font-semibold opacity-50"><%= elem.user.username %></h6>
            </div>

        <% })%>
    </div>
</div>


<% include ./partials/footer.ejs %>
